<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.min.js" integrity="sha512-TJ7U6JRJx5IpyvvO9atNnBzwJIoZDaQnQhb0Wmw32Rj5BQHAmJG16WzaJbDns2Wk5VG6gMt4MytZApZG47rCdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <title>Our Car Project</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to our Used Car Project</h1>
            <p class="lead subtitle">An interactive dashboard to view data on used cars</p>
        </div>
    </div>

    <div class="outer">
        <div class="filter-bar">
            <select name="makes" id="makes" onchange="makeChanged()"></select>
            <select name="models" id="models" onchange="modelChanged()"></select>
        </div>
    </div>

    <div class="charts">
        <canvas class="mychart" id="bar_chart"></canvas>
        <canvas class="mychart" id="doughnut_chart"></canvas>
    </div>

    <div class="charts">
        <canvas class="mychart" id="polar_area"></canvas>
        <canvas class="mychart" id="radar_chart"></canvas>
    </div>
</body>
    <script type="text/javascript" src="static/charts.js"></script>
    <script type="text/javascript" src="static/brain.js"></script>
</html>
